# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/journal-formateur?retryWrites=true&w=majority

# URL publique de l'appli (sans slash final)
# En développement : http://localhost:3000
# En production Vercel : https://journal-mfr.vercel.app
NEXT_PUBLIC_URL=https://journal-mfr.vercel.app

# URL iCal iRéo (déjà connue, à confirmer)
IREO_ICAL_URL=https://ireopignerie.imfr.fr/V2/iplanning/feed/ical/?u=a0Pp70Mn4YTOUGT7JzhAoA6X70vSCLOb
